.box{
    /* background-color: green; */
    width: 100%;
    margin-top: 1%;
    padding: 2% 0%;
    color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
 grid-gap: 30px;
}
.yellow{
    background-color: rgba(128, 124, 124,0.4);
    width: 90%;
    min-height: 37vh;
    margin-left: 2%;
    transition: all 0.2s;
    
}
.yellow:hover{
    transform:scale(1.1);
}
.api-img{
    width: 100%;
  
}
.p-link{
    margin: 0% 2% 0%;
    
}
a{
    text-decoration: none;
    color: white;
}